<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">

    <title>oops page</title>
  </head>
  <body>
    <h1>oops!</h1>

    <main>{{embed}}</main>
    <style>
      :root {
        font-family: Arial, Helvetica, sans-serif;
      }

      html, h1, h2, p {
        padding: 0;
        margin: 0;
      }

      body {
        padding: 10px;
        margin: 0;
      }
    </style>
  </body>
</html>
